body {
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: verdana, georgia, arial;
}

.header-container, .footer {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 12px 200px;
}

.header-logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}

.header-main ul {
    display: flex;
    padding: 0;
    gap: 16px;
    margin: 0;
    list-style: none;
}

.header-main li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header-content {
    display: flex;
    margin-bottom: 50px;
}

.header-container h2 {
    color: white;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0;
}

.header-content p {
    color:#e5e7eb;
    font-size: 18px;
}

.left {
    padding-right: 24px;
} 
 
.left, .header-content img{
    flex: 1;
    max-height: 30vh;
}

.body-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.body-content {
    flex: 1;
}

.body-content h3 {
    font-size: 32px;
    font-weight: extra-bold;
    color: #1f2937;
}

.projects-container {
    display: flex;
    justify-content: center;
    padding: 0 100px;
    gap: 24px;
}

.projects img {
    width: 100px;
    height: 100px;
}

.socials {
    background-color: #e5e7eb;
}

.footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}