body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-container, .footer {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    flex-direction: column;
    padding: 10px 150px;
}

.header-logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.header-main ul {
    display: flex;
    padding: 0;
    gap: 16px;
    margin: 0;
    list-style: none;
}

.header-main li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 10px;
}

.header-content {
    display: flex;
    margin-bottom: 50px;
}

.header-container h2 {
    color: white;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.header-content p {
    color:#e5e7eb;
    font-size: 18px;
}
 
.left, .header-content img{
    flex: 1;
    max-height: 30vh;
}

.body-container {
    flex: 1;
}

.footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}